<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.board.mapper.UserMapper">

	<resultMap id="board" type="com.web.board.domain.Board">
	<result property="boardNo" column="BOARDNO" jdbcType="VARCHAR2" />
	<result property="boardTitle" column="BOARDTITLE" jdbcType="VARCHAR2"/>
	<result property="boardContents" column="BOARDCONTENTS" jdbcType="CLOB"/>
	<result property="writer" column="WRITER" jdbcType="VARCHAR2" />
	<result property="regDate" column="REGDATE" jdbcType="DATE" />
	<result property="updtDate" column="UPDTDATE" jdbcType="DATE" />
		
	</resultMap>


	<insert id="join" parameterType="map">
		INSERT INTO users ( userId
		, userPw
		, userName
		, userPhone
		, joinDate
		, regId
		, regDate
		, updtId
		, updtDate)
		VALUES ( #{userId}
		, #{userPw}
		, #{userName}
		, #{userPhone}
		, #{joinDate}
		, #{regId, jdbcType=VARCHAR}
		, #{regDate, jdbcType=DATE}
		, #{updtId, jdbcType=VARCHAR}
		, #{updtDate, jdbcType=DATE}
		)

	</insert>

	<select id="login" parameterType="map" resultType="map">

		SELECT COUNT(*)
		FROM users
		WHERE userId= #{userId}

	</select>

	<select id="loginCk" parameterType="map" resultType="map">
		SELECT COUNT(*) 
		FROM users
		WHERE userId= #{userId}
		<if test="userPw != null and userPw != ''">
		and userPw = #{userPw}
		</if>
	</select>

	<insert id="insertBoard" parameterType="map">
					INSERT INTO board
					(
										boardNo
									  , boardTitle
									  , boardContents
									  , writer
									  , regDate
									  , updtDate
					)
					VALUES
					(
										(select max(boardNo) from board) + 1
								      , #{boardTitle}
								      , #{boardContents}
								      , 'SYSTEM'
								      , (select sysdate from dual)
								      , (select sysdate from dual)
		
					)
	</insert>


	<select id="listBoard" resultMap="board">	
						SELECT
									  boardNo
									, boardTitle
									, boardContents
									, writer
									, regDate
									, updtDate
						FROM
									board
					ORDER BY 
									boardNo DESC
	</select>
	
	
		<select id="getBoard" resultMap="board">	
						SELECT
									  boardNo
									, boardTitle
									, boardContents
									, writer
									, regDate
									, updtDate
						FROM
									board
	</select>


<update id="updateBoard" parameterType="map">
        UPDATE 
        			board
        	SET 
        			boardTitle = #{boardTitle},
            		boardContents = #{boardContents},
            		updtDate = now()
        WHERE 
        			boardNo = #{boardNo}
    </update>

</mapper>
